version: "3.9"
services:
  api:
    build: ./api
    container_name: task_08-api
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: task_08-frontend
    ports:
      - "3001:80"
    depends_on:
      - api
