---
name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install
        run: npm install
        working-directory: ./src

      - name: Lint
        run: npm run lint
        working-directory: ./src

      - name: Test
        run: npm test
        working-directory: ./src

      - name: Build
        run: npm run build
        working-directory: ./src
