version: '3.8'
services:
  app:
    build: .
    ports:
      - "80:80"
  dev:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "5173:5173"
    command: npm run dev