name: Deploy to GitHub Pages

on:
  push:
    branches:
      - task08
    paths:
      - 'students/YarmolaAleksandr/task_08/**'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: students/YarmolaAleksandr/task_08/package-lock.json

      - name: Install dependencies
        working-directory: students/YarmolaAleksandr/task_08
        run: npm ci

      - name: Build
        working-directory: students/YarmolaAleksandr/task_08
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: students/YarmolaAleksandr/task_08/dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
